// colors
$accentColor = #8f8fff
$textColor = #f0f0f0
$borderColor = transparent
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
